<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="footer-follow">
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li><a href="#"><i class="fab fa-youtube"></i></a></li>
					</ul>
					<div class="footer-copyrights">
						<p class="text-white">NO COPYRIGHT @ckymn</p>
					</div>
				</div>
			</div>
		</div>
	</footer>